@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
    --bright-purple: hsl(281, 83%, 54%);    
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    background: url('/assets/images/background-pattern-mobile.svg') repeat-x top center var(--light-pink);
}

main {
    padding: 142px 1.5rem;
}

h1, p {
    margin-top: 0;
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color: var(--dark-purple);
}

.title h1 {
    line-height: 1.2;
    margin-bottom: 0;
}

.title svg {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;
}

.container {
    padding: 1.5rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1.5rem 0.5rem hsla(281, 72%, 40%, 0.1);
}

.accordion-item + .accordion-item {
    padding-top: 0.5rem;
    margin-top: 0.5rem;
    border-top: 1px solid var(--light-pink);
}

.accordion-button {
    font-weight: 600;
    background: none;
    border: 0;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--dark-purple);
    padding: 0.625rem 0;
    cursor: pointer;
    transition: color 0.15s;
}

.accordion-button:hover,
.accordion-button:focus {
    color: var(--bright-purple);
}

.accordion-button svg {
    position: relative;
    top: 2px;
}

.accordion-text > div {
    padding-top: 0.875rem;
    padding-bottom: 0.75rem;
}

.accordion-text p {
    font-size: 0.875rem;
    color: var(--grayish-purple);
    margin: 0;
}

.font-work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.mb-0 {
    margin-bottom: 0;
}

.mr-6 {
    margin-right: 1.5rem;
}

.attribution {
    display: none;
}

[x-cloak] { display: none !important; }

@media (min-width: 768px) {
    body {
        background: url('/assets/images/background-pattern-desktop.svg') repeat-x top center var(--light-pink);
    }

    main {
        padding: 168px 1.5rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    .container {
        padding: 2.5rem 2.5rem 1.25rem 2.5rem;
        border-radius: 1rem;
    }

    .title {
        margin-left: -1px;
        margin-bottom: 0.9375rem;
    }

    .title svg {
        width: 2.625rem;
        height: 2.625rem;
    }

    .accordion-button {
        font-size: 1.125rem;
        padding: 0.875rem 0;
    }

    .accordion-text > div {
        padding-top: 0.3125rem;
        padding-bottom: 1rem;
    }

    .accordion-text p {
        font-size: 1rem;
    }
}
